<script type="module" src="/src/scripts/FabricDrawing.js"></script>
<>
  <div>
    <canvas id="c"></canvas>
    <button
      id="adding-line-btn"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >Add Line</button
    >
  </div>
</>

<style>
  #drawing-mode {
    margin-bottom: 10px;
    vertical-align: top;
  }
  #drawing-mode-options {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #f5f2f0;
    padding: 10px;
  }
  label {
    display: inline-block;
    width: 130px;
  }
  .info {
    display: inline-block;
    width: 25px;
    background: #ffc;
  }
  #bd-wrapper {
    min-width: 1500px;
  }
</style>
