---
---

<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
<div class="fixed inset-0 z-10 overflow-y-auto">
  <div
    class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
  >
    <div
      class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-200 sm:mx-0 sm:h-10 sm:w-10"
          >
            <img src="/Logo.svg" />
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3
              class="text-lg font-medium leading-6 text-gray-900 mt-2"
              id="modal-title"
            >
              Settings
            </h3>
          </div>
        </div>
        <!-- Content -->
        <div class="mt-2 grid grid-cols-2 self-center">
          <div class="bg-inherit left-0 p-4 right-0 text-grey mb-5">
            <h1 class="text-center text-2xl mb-3 text-blue">Team 1</h1>
            <div class="bg-inherit justify-center flex h-auto">
              <div
                id="swatch"
                class="bg-white flex flex-col border-none shadow-lg"
              >
                <input
                  type="color"
                  id="color"
                  class="appearance-none cursor-pointer p-0 border-none bg-inherit h-20 w-20 team1-input-color-picker"
                  data-id="team1-primary-color"
                  name="team1-primary"
                  value="#008cff"
                />
                <div class="pl-1 h-12">
                  <p class="m-0 uppercase font-bold">Shirt</p>
                  <p class="m-0">Color</p>
                </div>
              </div>
              <div
                id="swatch"
                class="bg-white flex flex-col ml-2 border-none shadow-lg"
              >
                <input
                  type="color"
                  id="color"
                  class="appearance-none cursor-pointer p-0 border-none bg-inherit h-20 w-20 team1-input-color-picker"
                  data-id="team1-secondary-color"
                  name="team1-secondary"
                  value="#ffffff"
                />
                <div class="pl-1 h-12">
                  <p class="m-0 uppercase font-bold">Number</p>
                  <p class="m-0">Color</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-inherit left-0 p-4 right-0 text-grey mb-5">
            <h1 class="text-center text-2xl mb-3 text-blue">Team 2</h1>
            <div class="bg-inherit justify-center flex h-auto">
              <div
                id="swatch"
                class="bg-white flex flex-col order-none shadow-lg"
              >
                <input
                  type="color"
                  id="color"
                  class="appearance-none cursor-pointer p-0 border-none bg-inherit h-20 w-20 team2-input-color-picker"
                  data-id="team2-primary-color"
                  name="team2-primary"
                  value="#8a0000"
                />
                <div class="pl-1 h-12">
                  <p class="m-0 uppercase font-bold">Shirt</p>
                  <p class="m-0">Color</p>
                </div>
              </div>
              <div
                id="swatch"
                class="bg-white flex flex-col ml-2 border-none shadow-lg"
              >
                <input
                  type="color"
                  id="color"
                  class="appearance-none cursor-pointer p-0 border-none bg-inherit h-20 w-20 team1-input-color-picker"
                  data-id="team2-secondary-color"
                  name="team2-secondary"
                  value="#ffffff"
                />
                <div class="pl-1 h-12">
                  <p class="m-0 uppercase font-bold">Number</p>
                  <p class="m-0">Color</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center mb-5">
          <label class="pr-8">Enable World Cup Mode</label>
          <input
            type="checkbox"
            class="appearance-none w-9 focus:outline-none checked:bg-blue-300 h-5 bg-gray-300 rounded-full before:inline-block before:rounded-full before:bg-blue-500 before:h-4 before:w-4 checked:before:translate-x-full shadow-inner transition-all duration-300 before:ml-0.5"
            id="ChangeTheme"
          />
        </div>

        <!-- Close Button -->
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button
            type="button"
            id="closebutton"
            class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
            >Close</button
          >
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  ::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
</style>
<script></script>
